{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
<h1><span class="font-semi-bold">Bonsai Castles</span></h1>

<a href="">Ranking</a>
<a href="/query">Gallery</a>

thumbnails.

{% endblock content %}
