{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
<h1><span class="font-semi-bold">Bonsai Castles</span></h1>

<form action="/ranking/add" method="post" accept-charset="utf-8" enctype="multipart/form-data">
  <label for="dat">.dat file</label>
  <input id="dat" name="dat" type="file" value=""/><br>

  <label for="title">Title</label>
  <input id="title" name="title" type="text"/><br>

  <label for="description">Description</label>
  <input id="description" name="description" type="text"/><br>

  <label for="open_date">Open date</label>
  <input id="open_date" name="open_date" type="date"/><br>

  <label for="start_date">Start date</label>
  <input id="start_date" name="start_date" type="date"/><br>

  <label for="end_date">End date</label>
  <input id="end_date" name="end_date" type="date"/><br>

  <label for="close_date">Close date</label>
  <input id="close_date" name="close_date" type="date"/><br>

  <label for="hour">Switching hour</label>
  <input type="number" name="hour" min="0" max="24" value="5"/><br>

  <input type="submit" name="upload" value="Upload"/>
</form>

{% endblock content %}
