{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
<h1><span class="font-semi-bold">Bonsai Castles</span></h1>

{% set current_ranking = [] %}
{% for ranking in ranks %}
{% if ranking_tag == ranking.ranking_tag %}
{% set _ = current_ranking.append(ranking) %}
{% endif %}

<a href="ranking?tag={{ranking.ranking_tag}}">{{ranking.title}}</a>,
{{ranking.description}}
<br>
{% endfor %}

{% if current_ranking|length > 0 %}
<hr>
{% set ranking = current_ranking[0] %}
Title: {{ranking.title}}<br>
Description: {{ranking.description}}<br>
Open: {{ranking.open_datetime|date}}<br>
Start: {{ranking.start_datetime|date}}<br>
End: {{ranking.end_datetime|date}}<br>
Close: {{ranking.close_datetime|date}}<br>

<hr>

<table>
<tr><th></th><th>Nickname</th><th>Like</th><th>Round</th></tr>

{% set order, index, previous_round = [0], [0], [0] %}
{% for item in records %}

{% set _ = index.append(index.pop() + 1) %}

{% if item.Record.round_score != previous_round.pop() %}
{% set _ = order.pop() %}
{% set _ = order.append(index[0]) %}
{% endif %}
{% set _ = previous_round.append(item.Record.round_score) %}

<tr>
<td>
{% if order[0] == 1 %}
<img src="{{request.static_url('bc_server:static/medal_1.png')}}">
{% endif %}
{% if order[0] == 2 %}
<img src="{{request.static_url('bc_server:static/medal_2.png')}}">
{% endif %}
{% if order[0] == 3 %}
<img src="{{request.static_url('bc_server:static/medal_3.png')}}">
{% endif %}
{% if order[0] > 3 %}
{% endif %}
{{order[0]}}</td>

<td>{{item.User.nickname}}</td>
<td>{{item.Record.like_count}}</td>
<td>{{item.Record.round_score}}</td></tr>
{% endfor %}

</table>

{% endif %}

{%- if userid %}
<hr>
<a href="/ranking/new">Add new ranking</a>
{%- endif %}

{% endblock content %}
