{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
<h1><span class="font-semi-bold">Bonsai Castles</span></h1>

<form action="/user/login" method="post" accept-charset="utf-8" enctype="multipart/form-data">
  <label for="id">Id</label>
  <input id="id" name="id" type="text" size="50" value="{{ id }}"/><br>

  <label for="password">Password</label>
  <input id="password" name="password" type="password"/><br>

  <input type="hidden" name="came_from" value="{{came_from}}"/>

  <input type="submit" name="login" value="Sign in"/>
</form>

{% endblock content %}
